<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paisios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Paisios.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="SendDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TimesEachLine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimesFile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TxtBx1" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtBx2" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtBx3" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtBx4" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtBx5" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtBx6" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Iteration1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Iteration2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Iteration3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Iteration4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Iteration5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Iteration6" serializeAs="String">
                <value>1</value>
            </setting>
        </Paisios.Properties.Settings>
    </userSettings>
</configuration>